@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html, body{
  display: grid;
  height: 80vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(to right, #151713 0%, #656a6b 100%);
}
h1{
    color: #974f97;
    font-size: 3rem;
}
.container{
  background: #fff;
  max-height: 500px;
  height: 500px;
  max-width: 600px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  
}

.container .option{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  width: 100;
}
form {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  form input {
    height: 55px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 0 14px;
  }
.container .button a {
    color: #1877f2;
    font-size: 0.975rem;
  }
.button a:hover {  
    text-decoration: underline;
  }
.container .link {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  .link .login {
    border: none;
    outline: none;
    cursor: pointer;
    background: #1877f2;
    padding: 10px ;
    border-radius: 6px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    transition: 0.2s ease;
  }
  .link .login:hover {
    background: #0d65d9;
  }
  form a {
    text-decoration: none;
  }
  .link .forgot {
    color: #1877f2;
    font-size: 0.875rem;
  }
  .link .forgot:hover {
    text-decoration: underline;
  }

.container .google a{
  display: block;
  height: 55px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  padding-top: 4px;
  padding-left: 30px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
}

.container .google i{
  padding-right: 12px;
  font-size: 20px;
}
.container .google a{
  background: linear-gradient(to right,  #e72f1f 0%, #ea4335 100%);
  margin: 20px 0 15px 0;
}
.container .google a:hover{
  background: linear-gradient(to left,  #d14c40 0%, #da564a 100%);
  margin: 20px 0 15px 0;
}
